* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  outline: none;
}

#header {
  text-align: center;
  padding-top: 70px;
}

#search, #movie-holder {
  width: 80vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  max-width: 800px;
  padding: 40px 0 80px 0;
}

@media (max-width: 800px) {
  #search {
    width: 250px;
    flex-direction: column;
    align-items: flex-start;
  }
  #search label {
    width: 60px;
    display: inline-block;
  }
  #search button { margin-left: 67px }
  #search div    { margin-bottom: 10px }
}

#search input,
#search select,
#search button {
  border: 1px solid #ddd;
  padding: 10px;
}

#search input[type=number] {
  width: 55px;
}

#search select:focus,
#search select:hover,
#search input:focus,
#search input:hover {
  border: 1px solid #aaa;
}

#search button {
  width: 100px;
  background-color: #6496ff;
  transition: background-color .25s;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

#search button:hover {
  background-color: #6464ff;
}

#movie-holder {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 100px;
  text-align: center;
  max-width: 1000px;
}

#movie-holder .movie-card {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 60px 20px 20px;
}

#movie-holder .movie-card h3 {
  margin: 15px 0 30px 0;
}

#movie-holder .movie-card button {
  padding: 10px 20px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: #f0f0ff;
  border: 1px solid #b4dce6;
  transition: background-color .3s;
  border-radius: 100px;
}

#movie-holder .movie-card button:hover {
  background-color: #b4dce6;
}

#movie-holder .movie-card img {
  width: 100%;
}